@use "../../utils" as *;

/*----------------------------------------*/
/*  7.3 Contact css
/*----------------------------------------*/

/* 26. 404 */
.contact-address-wrapper {
	border: 2px solid #e9e9e9;
	transition: 0.3s;
	padding: 50px 30px 51px 60px;
	&:hover {
		border-color: var(--bd-theme-primary);
	}
}
.contact-address-title {
	margin-bottom: 25px;
	h2 {
		font-size: 36px;
		color: #112433;
	}
}
.contact-link {
	li {
		a{
			font-size: 14px;
			line-height: 28px;
			color: #7b8e9d;
			font-weight: 400;
			margin-bottom: 45px;
			position: relative;
			&:last-child {
				margin-bottom: 0;
				&::before {
					display: none;
				}
			}
			&::before {
				position: absolute;
				content: "";
				background: #e9e9e9;
				width: 40px;
				height: 2px;
				bottom: -24px;
				left: 0;
			}
			&:hover{
				color: var(--bd-theme-secondary);
			}
		}
	}
}
.contact-bg {
	background-size: cover;
	background-position: center center;
	padding-left: 100px;
	padding-right: 100px;
	box-shadow: 0px 20px 40px 0px rgba(161, 161, 161, 0.4);
	margin-bottom: -98px;
	position: relative;
	z-index: 99;
	@media #{$xs,$sm}{
		padding-left: 15px;
	padding-right: 15px;
	}
}
.contact-title {
	h2 {
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 0;
	}
}
#contact-us-form {
	input {
		height: 60px;
		width: 100%;
		border: 1px solid #e9e9e9;
		margin-bottom: 20px;
		padding: 0 15px;
		color: #7b8e9d;
		font-size: 14px;
		transition: 0.3s;
		background: #fff;
		font-weight: 400;
		&::-moz-placeholder {
			color: #7b8e9d;
			font-size: 14px;
		}
		&::placeholder {
			color: #7b8e9d;
			font-size: 14px;
		}
	}
	textarea {
		width: 100%;
		border: 1px solid #e9e9e9;
		padding: 15px;
		height: 150px;
		transition: 0.3s;
		background: #fff;
		font-weight: 400;
		color: #7b8e9d;
		margin-bottom: 20px;
		&::-moz-placeholder {
			color: #7b8e9d;
			font-size: 14px;
			font-weight: 400;
		}
		&::placeholder {
			color: #7b8e9d;
			font-size: 14px;
			font-weight: 400;
		}
	}
	.btn {
		padding: 22px 116px;
		@media #{$xs,$sm}{
			padding: 22px 53px;
		}
	}
}
.map {
	height: 700px;
	width: 100%;
}
.four-zero-img {
	margin-bottom: 45px;
	img{
		@media #{$md,$xs,$sm}{
			width: 100%;
		}
	}
}
.four-zero-text {
	h2 {
		font-size: 60px;
		font-weight: 300;
		display: inline-block;
		margin-bottom: 0;
		position: relative;
		top: 15px;
		@media #{$sm}{
			font-size: 45px;
			margin-bottom: 10px;
		}
		@media #{$xs}{
			font-size: 30px;
			margin-bottom: 10px;
		}
	}
	a.btn {
		padding: 22px 73px;
		margin-left: 52px;
		@media #{$md}{
			padding: 22px 42px;
			margin-left: 40px;
		}
		@media #{$sm,$xs}{
			padding: 22px 62px;
			margin-left: 0;
			margin-top: 20px;
		}
	}
}
.basic-pagination {
	ul {
		display: block;
		li {
			display: inline-block;
            @media #{$xs,$sm}{
                margin-bottom: 10px;
            }
			a {
				height: 70px;
				width: 70px;
				background: #ffffff;
				color: #9990b8;
				font-size: 16px;
				font-weight: 500;
				border-radius: 50%;
				line-height: 70px;
				margin: 0 5px;
				display: inline-block;
				text-align: center;
				&:hover {
					background: #fe6b51;
					color: #ffffff;
				}
			}
		}
	}
}
.basic-pagination-2 {
	ul {
		li {
			a {
				background: transparent;
				color: #9990b8;
				border: 2px solid #eaebec;
				height: 60px;
				width: 60px;
				line-height: 56px;
				&:hover {
					background: #fe6b51;
					color: #ffffff;
					border-color: #fe6b51;
				}
			}
		}
		li.active {
			a {
				background: #fe6b51;
				color: #ffffff;
				border-color: #fe6b51;
			}
		}
	}
}
.contact-map {
	iframe {
		width: 100%;
		height: 620px;
		position: relative;
		top: 7px;
		margin-top: -7px;
	}
}