@use '../../utils' as *;

/*----------------------------------------*/
/*  7.5 Cta css
/*----------------------------------------*/

#search-modal {
	background-color: rgba(23,26,33,.95);
}
#search-modal {
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        border: none;
        outline: 0;
        .modal-content {
            background: 0 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: none;
            form {
                width: 555px;
                position: relative;
                input {
                    width: 100%;
                    font-size: 36px;
                    border: none;
                    border-bottom: 3px solid rgba(255,255,255,.1);
                    background: 0 0;
                    color: #fff;
                    padding-bottom: 12px;
                    padding-right: 40px;
                    &::-moz-placeholder {
                        font-size: 35px;
                    }
                    &::placeholder {
                        font-size: 35px;
                    }
                }
                button {
                    position: absolute;
                    right: 0;
                    margin-bottom: 3px;
                    font-size: 30px;
                    color: rgba(255,255,255,.5);
                    background: 0 0;
                    border: none;
                    cursor: pointer;
                    top: 11px;
                }
            }
        }
    }
}

